 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
    --black: #1E2225;
    --grey: #475259;
    --muted: #525D6E;
    --lgrey1: #8595A6;
    --lgrey2: #ADBDCC;
    --lgrey3: #BFCCD9;
    --lgrey4: #CFDAE6;
    --lgrey5:#dae6f2;
    --white: #f5f7fa;
    --cyan: #73cbea;
    --pink: #F1416C;
    --lpink:#fbd3da;
    --orange: #ef7f48;
    --lime: #b7e24c;
    --lgreen: #65db9f;
    --dgreen: #55bb7f;
    --dpurple: #4a5384;
    --lpurple: #5c6ade;
    --lpurple2:#e0d3f8;
    --lblue:#c4efff;
    --dblue:#4ea5c5;
    --lblue2:#cceaf5;
    --lyellow:#fff9c5;
    --yellow:#d7b30b;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    background: white;
}
.bg-lyellow {
    background: var(--lyellow);
}
.yellow {
    color: var(--yellow);
}
.bg-black {
    background: #1f2225
}

.bg-grey {
    background: #495258;
}

.bg-lgrey1 {
    background: #8895a4
}
.bg-lblue {
    background: var(--lblue)
}

.bg-lgrey2 {
    background: #b0bdca;
}

.bg-lgrey3 {
    background: #c1ccd8;
}

.bg-lgrey4 {
    background: #d1dae5;
}
.bg-lpurple2 {
    background: var(--lpurple2);
}
.bg-lgrey5 {
    background: var(--lgrey5);
}

.bg-white {
    background: #f5f7fa  !important;
}

.bg-cyan {
    background: #73cbea;
}

.bg-pink {
    background: #F1416C;
}

.bg-orange {
    background: #ef7f48;
}

.bg-lime {
    background: #b7e24c;
}

.bg-lgreen {
    background: #65db9f;
}

.bg-dgreen {
    background: #55bb7f;
}

.bg-dpurple {
    background: #4a5384;
}

.bg-lpurple {
    background: #5c6ade;
}
.bg-lpink {
    background:var(--lpink);
}

.black {
    color: #1f2225;
}

.grey {
    color: #495258;
}

.lgrey1 {
    color: #8895a4;
}

.lgrey2 {
    color: #b0bdca;
}

.lgrey3 {
    color: #c1ccd8;
}

.lgrey4 {
    color: #d1dae5;
}
.lgrey5 {
    color: var(--lgrey5);
}
.muted {
    color: #525D6E;
}

.white {
    color: #f5f7fa !important;
}

.cyan {
    color: #73cbea;
}

.pink {
    color: #df506e;
}

.orange {
    color: #ef7f48;
}

.lime {
    color: #b7e24c;
}

.lgreen {
    color: #65db9f;
}

.dgreen {
    color: #55bb7f;
}

.dpurple {
    color: #4a5384;
}

.lpurple {
    color: #5c6ade;
}
.lpink {
    color:var(--lpink);
}
.lblue {
    color: var(--lblue)
}
.dblue {
    color:var(--dblue);
}
.bg-lblue2 {
    background:var(--lblue2);
}

p,
li,
td,
th,
label,
a {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.text-sm {
    font-size: 12px !important;
}
.text-xs {
    font-size: 11px !important;
}
.text-md {
    font-size: 16px !important;
    font-weight: 500;
}
.text-md2 {
    font-size: 14px !important;
    font-weight: 400;
}
.text-lg {
    font-size: 20px !important;
    font-weight: 500;
}

.text-xl {
    font-size: 25px !important;
    font-weight: 500;
}

.body-title {
    font-weight: 600;
}

.font-weight-bold {
    font-weight: 700 !important;
}
.font-weight-med {
    font-weight: 500 !important;
}

h5,
.h5 {
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: -0.01em;
}

h4,
.h4 {
    font-size: 30px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: -0.01em;
}

h3,
.h3 {
    font-size: 39px;
    font-weight: 500;
    line-height: 47px
}

h2,
.h2 {
    font-size: 47px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: -0.01em;
}

h1,
.h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: -0.015em;

}
.no-shadow {
    box-shadow: none !important
}
.card {
    border: 0;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    border-radius: 7px;
}

.card-body {
    padding: 50px;
    border: 0;

}

.card-body+.card-footer {
    background: var(--white);
    padding: 30px 50px;
    border: 0;
}

.border-grey {
    border:2px solid var(--lgrey4);

}
.border-grey.dashed {
    border-style:dashed
}
.modal-dialog {
    width: 520px;
    max-width: 93%;
    margin: 3em auto 0 auto;
}
.modal-dialog,
.modal-content {
    border: 0;
    border-radius: 5px
}

.modal-body {
    padding: 40px;
}
.modal-body input, .modal-body select {
    font-size:14px;
}
.modal-title {
    font-size: 27px;
    font-weight: 600;
    line-height: 35px;
}
.modal-lg {
    width: 700px;
    max-width: 100%
}
.modal-xl {
    width: 1000px;
    max-width: 100%
}
.modal-footer {
    flex-wrap: nowrap;
    padding: 20px 30px;
    background: var(--white);
    border: 0;
}
.modal-icon-header {
    display: block;
    margin: 0 auto 20px auto;
}
/* form */
.form-group {
    margin-bottom: 30px
}

.form-control {
    color: var(--grey);
    font-weight: 300
}

.form-control,
.input-group-text {
    background: #fff;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 3px;
    border: 1px solid var(--lgrey4);
}
.form-control:disabled, .form-control[readonly] {
    background-color: var(--lgrey5);
    border-color:var(--lgrey5);;
    color:#222;
    cursor:not-allowed;
}
::placeholder {
    font-size: 12px;
    color: #CFDAE6 !important;
}
.input-group-text {
    display: flex;
    align-items: center
}

.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-right: 0;
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    border-left: 0;
}

label {
    margin: 0 0 10px 0;
}

.form-group input[type="checkbox"],
.form-group input[type="radio"] {
    position: absolute;
    z-index: 1;
    margin: 4px;
    opacity: 0;
width:120px
}

.form-group input[type="checkbox"]+label,
.form-group input[type="radio"]+label {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    margin: 0;
    line-height: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.form-group input[type="checkbox"]+label:before {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    background: url('img/icons/checkbox.svg') center center no-repeat;
    position: absolute;
    left: 0;
    top: 0;

}
.form-group input[type="radio"]+label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: url('img/icons/radio.svg') center center no-repeat;
    position: absolute;
    left: 0;
    top: 2px;

}

.form-group input[type="checkbox"]:checked+label:before {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    background: url('img/icons/checkbox2.svg') center center no-repeat;
    position: absolute;
    left: 0;
    top: 0;
}
.form-group input[type="radio"]:checked+label{
    color:var(--lgreen) !important;
}
 
.form-group input[type="radio"]:checked+label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: url('img/icons/radiogreen2.svg') center center no-repeat;
    position: absolute;
    left: 0;
    top: 2px;
}

.input-password .input-group-text {
    min-width: 50px;
    background: url('img/icons/eye.svg') center center no-repeat;
    background-size: 25px
}

.input-password .input-group-text.toggled {
    background: url('img/icons/noneye.svg') center center no-repeat;
    background-size: 25px
}

input:focus,
select:focus,
textarea:focus {
    border: 1px solid var(--lpurple) !important;
    outline: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

/* buttons */
.btn {
    border-radius: 5px;
    padding: 10px 18px;
    border-width: 2px;
    font-weight: 300;
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
}

.btn-primary {
    background: var(--lpurple);
    border-color: var(--lpurple);
}

.btn-primary:hover,.btn-secondary:hover,.btn-white2:hover {
    background: var(--dpurple);
    border-color: var(--dpurple);
    color: #fff;
}
.btn-secondary {
    background: transparent;
    border-color: var(--lpurple);
    color:var(--lpurple);
}
 

.btn-white {
    color: #7888A0;
    background: #fff;
    border-color: #fff;
}
.btn-outline-grey {
    border:2px solid var(--lgrey2);
    color:var(--lgrey2);
}
.btn-icon {
    font-size:20px;
    margin-right:5px;
}
.btn-outline-grey:hover {
    background:var(--lgrey4);
    border-color:var(--lgrey4);

}
.btn-outline-grey:hover .btn-icon {
    color:#333;
}
.btn-white:hover {
    color: #7888A0;
    background: #e7ebf1;
    border-color: #e7ebf1;
}
.btn-white2 {
    color: #7888A0;
    background: #fff;
    border-color: #fff;
}
.btn-add-to-list {
    color: #7888A0;
    background: transparent;
    border-color: transparent;
}
.btn-sm {
    font-size: 11px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.btn-xs {
    font-size: 11px;
    padding: 0px 3px;
}
/* login */
.login-page {
    min-height: 100vh;
    padding: 7em;
}

.back-to-login:hover {
    font-weight: 500
}

.forgot-password a {
    padding: 10px 15px;
}

.forgot-password a:hover {
    background: var(--lgrey4);
    border-radius: 4px
}

/* dashboard, sidebar */
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    padding: 10px 0 10px 10px;
    min-height: 100vh;
}

.main {
    width: 100%;
    padding-bottom: 4em;
}

.sidebar.toggled {
    width: 300px;
    background: #25537a
}

.sidebar-content {
    padding: 30px 25px;
}

.sidebar li {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0 0 40px 0;
    line-height: 25px;
}

.sidebar li img {
    width: 22px;

}

.sidebar {
    width: 76px;
    min-height: calc(100% - 20px);
    border-radius: 7px;
    background: #336ea0;
    transition: linear 0.4s;
}

.sidebar.toggled li span {
    margin-left: 25px;
    color: #fff;
    font-weight: 400;
    display: inline-block;
    text-indent: 0;
    line-height: 23px;
}

.sidebar li span {
    display: none;
    white-space: nowrap;
    line-height: 25px;
}

.sidebar.toggled li a {
    display: flex;
}

.sidebar.toggled .sidebar-logo {
    background: url('img/icons/logo-text.svg') center center no-repeat;
    background-size: 100%;
    width: 120px;
    height: 23px;
    display: block;
    margin-bottom: 50px;
}


.sidebar-logo {
    background: url('img/icons/menuwhite.svg') center center no-repeat;
    background-size: 100%;
    width: 25px;
    height: 23px;
    display: block;
    margin-bottom: 50px;
}

/* top nav */
.top-nav {
    padding: 30px 40px;
    margin-bottom: 20px;
}

ol.breadcrumb li,
ol.breadcrumb li a {
    font-size: 12px;
    font-weight: 400;
}

.top-right-icons a.nav-link {
    width: 20px;
    height: 20px;
    background-size: 100%;
    display: block
}

.top-right-icons ul>li {
    margin: 0 8px;
}

.top-right-icons ul>li:last-child {
    margin-right: 0;
}

.top-right-icons a.notifications {
    background: url('img/icons/bell.svg') center center no-repeat;
}

.top-right-icons a.notifications.has-alert {
    background: url('img/icons/bell2.svg') center center no-repeat;
}

.top-right-icons a.profile {
    background: url('img/icons/profile.svg') center center no-repeat;
}

.top-right-icons a.dropdown-toggle {
    background: url('img/icons/dropdown.svg') center center no-repeat;
}

.top-right-icons a.dropdown-toggle:hover {
    background: url('img/icons/dropdownhover.svg') center center no-repeat;
}

.dropdown-toggle::after {
    display: none;
}

.top-right-icons ul.dropdown-menu {
    margin: 20px 0 0 0;
    padding: 0;
}

.top-right-icons ul.dropdown-menu li {
    padding: 0;
    margin: 0;
}

.top-right-icons ul.dropdown-menu a {
    padding: 0;
    padding: 10px 15px;
    
}

.top-right-icons ul.dropdown-menu a:hover {
    background: var(--lgrey4);
}

ul.dropdown-menu {
    border: 1px solid var(--lgrey4);
}

/* content area */
.content-wrapper {
    padding-left: 40px;
    padding-right: 40px;
}

.content-header {
    margin-bottom: 40px
}

.content-tabs {
    border-bottom: 1px solid var(--lgrey4);
    padding-bottom: 15px;
}

.content-tabs li {
    padding: 0 10px;
}

.content-tabs li:first-child {
    padding-left: 0;
}

.content-tabs li.nav-item a {
    border-radius: 7px;
    color: var(--grey);
    font-size: 13px;
    border: 2px solid transparent;
}

.content-tabs li.nav-item a.active {
    background: none;
    color: var(--lpurple);
    border: 2px solid var(--lpurple);
}

.content-tabs li.nav-item a:hover {
    background: var(--dpurple);
    color: white;
    border: 2px solid var(--dpurple);
}

.content-tabs+.tab-content {
    padding: 50px 20px 20px 20px;
}

.current-values .row {
    margin-bottom: 30px
}

.job-param {
    margin-bottom: 25px
}

.job-param-input {
    border-bottom: 1px solid var(--lgrey4);
}

.param {
    background: #F2F5FF;
    border-radius: 40px;
    padding: 8px 18px 8px 20px;
    color: var(--lpurple);
    font-weight: 400;
    margin-right: 15px;
    margin-bottom: 15px
}

.notification-group {
    margin-bottom: 40px
}

.notification-group li {
    border-bottom: 1px solid var(--lgrey4);
    padding: 10px 0;
}
.post-summary .card-body, .applicant-onboarding-status .card-body {
    border: 1px solid var(--lgrey4);
    padding:25px;
}
.applicant-header {
    padding:25px 40px;
    margin:0 -40px 30px -40px;
}
.applicant-header .applicant-thumbnail img {
    border-radius: 7px
}
.progress-item {
    margin-right:15px;
}
.progress-item:last-child::after {
    display: none
}
.progress-item::after {
    content:'';
    margin-left:15px;
    width:40px;
    height:2px;
    display: block;
    background:var(--lgrey4);
}
.data-display .row {
    margin-bottom:25px;
}
.vertical-tab li.nav-item a.nav-link {
    color:var(--grey);
    padding-top:10px;
    padding-bottom:10px;
}
.vertical-tab li.nav-item a.nav-link.active {
    border-right: 6px solid var(--lpurple);
    background:transparent;
    border-radius: 0
}
.vertical-tab li.nav-item a.nav-link:hover {
    background:var(--lgrey4);
    border-radius: 5px
}
#test-interviews .choices {
    width: 340px;
    max-width: 100%
}
.test-results {
    padding: 20px 40px;
}
#test-interviews .test-results img+label {
    width:60px;
}
#test-interviews .data-section {
    border-bottom: 1px solid var(--lgrey4);
    padding-bottom: 15px;
    margin-bottom: 40px;
}
.progress-tab li.nav-item a.nav-link {
    color:var(--lgrey2);
    padding:10px;
    border-radius: 0
}
.progress-tab li.nav-item a.nav-link::before {
    content:'';
    background:url('img/icons/radio.svg') center center no-repeat;
    background-size: 100%;
    display: inline-block;
    line-height:20px;
    width: 20px;
    height: 20px;
    top: 5px;
    position: relative;
    right: 10px;
}
.progress-tab li.nav-item a.completed.nav-link {
    color:var(--lgreen);
}
.progress-tab li.nav-item a.completed.nav-link::before {
    content:'';
    background:url('img/icons/radiogreen.svg') center center no-repeat;
    background-size: 100%;
    display: inline-block;
    line-height:20px;
    width: 20px;
    height: 20px;
    top: 5px;
    position: relative;
    right: 10px;
}
.progress-tab li.nav-item a.nav-link.active {
    background:transparent;
    border-right:6px solid var(--lpurple);
}
.progress-tab .brief-info {
    border:1px solid var(--lgrey4);
    border-radius:7px;
    padding:20px;
    margin-top:10px;
    margin-bottom:20px;
    display: none
}
.progress-tab a.nav-link.active + .brief-info {
    display: block
}
/* button icon */
a.icon {
    width: 25px;
    height: 25px;
    display: block;
    background-size: 100%;
}

a.icon.edit {
    background: url('img/icons/pen.svg') center center no-repeat;
}

a.icon.edit:hover {
    background: url('img/icons/penhover.svg') center center no-repeat;
}

a.icon.trash {
    background: url('img/icons/trash.svg') center center no-repeat;
}

a.icon.trash:hover {
    background: url('img/icons/trashhover.svg') center center no-repeat;
}

a.icon.eye {
    background: url('img/icons/eye.svg') center center no-repeat;
}

a.icon.eye:hover {
    background: url('img/icons/eyehover.svg') center center no-repeat;
}

a.icon.star {
    background: url('img/icons/star.svg') center center no-repeat;
}

a.icon.star:hover {
    background: url('img/icons/starhover.svg') center center no-repeat;
}

a.icon.times {
    background: url('img/icons/timepurple.svg') center center no-repeat;
}

a.icon.times:hover {
    background: url('img/icons/timered.svg') center center no-repeat;
}
a.icon.download {
    background: url('img/icons/download.svg') center center no-repeat;
}

a.icon.download:hover {
    background: url('img/icons/downloadhover.svg') center center no-repeat;
}
a.icon.upload {
    background: url('img/icons/upload.svg') center center no-repeat;
}

a.icon.upload:hover {
    background: url('img/icons/uploadhover.svg') center center no-repeat;
}
a.icon.toggle-open {
    background: url('img/icons/toggleopen.svg') center center no-repeat;
}

a.icon.toggle-open:hover {
    background: url('img/icons/toggleopen-hover.svg') center center no-repeat;
}
a.icon.toggle-open[aria-expanded="true"] {
    background: url('img/icons/toggleopen.svg') center center no-repeat;
    transform: rotate(180deg);
}
a.icon.toggle-open[aria-expanded="true"]:hover {
    background: url('img/icons/toggleopen-hover.svg') center center no-repeat;
    transform: rotate(180deg);
}

a.icon.toggle-open:hover {
    background: url('img/icons/toggleopen-hover.svg') center center no-repeat;
}
a.icon.dots3 {
    background: url('img/icons/dots3.svg') center center no-repeat;
}

/* table */
.table {
    border-collapse: inherit;
    border: 1px solid var(--lgrey4);
    border-radius: 7px;
    overflow: hidden;
}
.table-overflow {
    overflow: visible;
}

.table tbody {
    border: 1px solid var(--lgrey4);
    border-radius: 7px
}

.table thead {
    border-radius: 7px;
}

.table .table-actions a:first-child {
    margin-right: 5px;

}

.table .table-actions a.icon {
    margin-right: 7px;
}

.table .table-actions a.icon:last-child {
    margin-right: 0px;
}

.table th,
.table td {
    text-align: center;
}
.table td a {
    font-size: inherit;
}
.table td a:hover {
    color: var(--lpurple);
}

.table th {
    border-bottom: 1px solid var(--lgrey4) !important;
    color: var(--lgrey1);
    padding: 10px 12px 6px 12px;
    background: var(--white);
    font-size: 13px;
}

.table th:first-child {
    border-top-left-radius: 7px;
}

.table th:last-child {
    border-top-right-radius: 7px;

}

.table td {
    padding: 10px 12px;
    font-size: 13px;
    border-bottom: 1px solid var(--lgrey4);
    vertical-align: middle;
    min-height: 40px;
}

.table th:first-child,
.table td:first-child {
    text-align: left;
}

.table th:last-child,
.table td:last-child {
    text-align: right;
}

.table tr:last-child td {
    border-bottom: 0;
}
.table .text-left {
    text-align: left !important;
}

.table-label {
    padding: 6px 10px;
    display: inline-block;
    border-radius: 3px;
    margin: 0 auto;
    font-size: 13px;
}
.table-min-height td {
    height: 50px;
}
.table .btn i {
    font-size:14px;
}
.table .btn {
    padding:5px 9px;
}
.notification-dashboard {
    border: 1px solid var(--lpurple);
    padding: 9px 16px;
    border-radius: 5px;
    font-size: 15px;
}
.dashboard-card {
    background: var(--white);
    border: 1px solid var(--white);
    padding: 40px;
    border-radius: 10px;

}
.dashboard-card:hover {
    border: 1px solid var(--lpurple);
}
.pagination * {
    border: 0;
}
.pagination a, .pagination li {
    font-size: 12px;
}
.pagination .page-link {
    padding: 0px 7px;
    border-radius: 3px;
    margin: 0 5px;
    color: var(--grey);
    font-weight: 300;
}
.pagination li:last-child .page-link {
    margin-right: 0;
}
.pagination .page-item.active .page-link {
    font-weight: 500;
    color: var(--dark);
    background: none;
}
.table-filter {
    padding: 5px 9px;
    margin-bottom: 10px;
}
.table-filter  * {
    font-size: 13px;
}
.table-filter .choices {
    width: 100%; 
}
.sort-by {
    width: 80px;
}
.sort-vendor .choices {
    margin-right: 0;
}
.select-intable .choices * {
    text-align: left;
}
.table .form-group input[type="checkbox"]+label, 
.table .form-group input[type="radio"]+label {
    padding-left: 0;
}
.table .form-group input[type="checkbox"]+label:before {
    left: -10px;
}
.table-fm .form-group input[type="checkbox"]+label:before {
    left: 10px;
}
.table .row-selected td {
    background:rgba(82, 205, 238, 0.1)
}
#add-to-list:before {
    content: 'Add To List';
}
#add-to-list span.undo-add {
    display: none;
    color: var(--pink);
    text-decoration: underline;
    margin-left: 3px;
}
#add-to-list.added:before {
    content: 'Added';
}
#add-to-list.added {
    background: var(--lgrey2);
    color: #fff;
}
#add-to-list.added  span.undo-add {
    display: inline;
}
.status-header {
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: 300;
} 
.payment-month .card {
    box-shadow: none;
}
.payment-month [class*=col] {
    margin-bottom: 25px;
}
.payment-month .card-body.disabled {
    background: var(--white);
    border: 1px solid var(--white);
    color: var(--lgrey4);
    cursor: not-allowed;
}
.payment-month .card-body {
    border: 1px solid var(--lgrey4);
    background: transparent;
    border-radius: 5px;
    padding: 35px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
.payment-month .card-body:hover {
    background: var(--white);
}
.card-body+.card-footer {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.choices__group {
    padding: 8px 10px;
    background: rgba(0,0,0,0.03);
    font-weight: 600;
    color: #888;
}
.payslip-box .card {
    border:1px solid var(--lgrey4);
    box-shadow: none;
}
.payslip-box .card-body {
    padding:30px;
}
.payslip-box .table,
.payslip-box .table * {
    background:0;
    border-radius: 0;
    padding:0;
    border:0;
}
.payslip-box .table th,
.payslip-box .table td {
    padding:12px 0;
    border:0;
}

.payslip-box .table tr:first-child td {
    border-top:1px solid var(--lgrey1);
    padding-top:18px;
}
.payslip-box .table tr:last-child td {
    padding-bottom:18px;
    border-bottom:1px solid var(--lgrey1);
}
.payslip-box .table input {
    border:1px solid var(--lgrey4);
    padding:9px 12px;
    color:#000;
    font-weight: 500;
    border-radius:3px;
    color:var(--lpurple);
}
.payslip-box .table th {
    border-bottom: 0 !important;
}
.payslip-box .table tfoot th {
    padding:18px 0 10px 0;
    font-weight: 600;
    color:#000;
}
.payslip-box .table .icon {
    width:18px;
}
.payslip-box .table thead th {
    font-weight: 600;
    color:#000;
    text-align: left;
    padding-bottom:5px !important;
}
.table.salary-report td,
.table.salary-report th {
    font-size:12px;
}
.table.salary-report td:last-child { 
    font-weight: 600;
    border-left:2px solid var(--lgrey3);
    border-right:2px solid var(--lgrey3);
}
.table.salary-report th:last-child {
    font-weight: 600;
    border-top:2px solid var(--lgrey3);
    border-left:2px solid var(--lgrey3);
    border-right:2px solid var(--lgrey3);
}
.table.salary-report tr:last-child td:last-child { 
    border-bottom:2px solid var(--lgrey3); 
}
.table input {
    text-align: center;
    padding:5px;
    font-size: 12px;
    border-radius: 5px;
    border:1px solid var(--lgrey3);
} 
.label-filter {
    width:120px;
    margin:0
}
.table-filter .choices {
    width:200px
}
.expanded-row {
    margin:0 -25px;
}
.expanded-row > [class*=col] {
    padding:0 25px;
}
.rotate-90 {
    transform:rotate(-90deg);
}
.oppo-req-item {
    position: relative;
}
.expanded-dots3 {
    position: absolute;
    background: #fff !important;
    top:70px;
    right:60px;
    border-radius:10px;
    z-index: 2;
    border:2px solid var(--lgrey3);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.05);
}
.expanded-dots3 .bg-white {
    border-radius:10px;
    background: #fff !important;
}
.collapse-menu-item {
    padding:12px;
    border-bottom:1px solid var(--lgrey4);
    min-width: 170px;
    display: flex;
    align-items: center;
    cursor:pointer;
} 
.matched-vendors-alert {
    border-radius: 6px;
    background:#fbf6d1;
    
    padding:23px;
}
@media screen and (max-width:1199px) {

}
@media screen and (max-width: 991px) {
    .wrapper {
        display: block;
        padding: 10px;
    }
    .sidebar {
        width: 100%;
        overflow: hidden;
        height: 80px;
        transition: 0s;
    }
    .sidebar li:last-child {
        margin-bottom: 0;
    }
    .sidebar.toggled {
        width: 100%; 
        height: 100%;
    }
    .content-wrapper, .top-nav {
        padding-left: 20px;
        padding-right: 20px;
    }
    .table-filter {
        padding: 15px;

    }
    .table-filter .sort .w-50 {
        width: 100% !important;
    }
    
    .table-filter .sort {
        margin-left: 0 !important;
        padding-left: 0;
    }

    .table-filter label {
        display: block;
        margin-bottom: 5px !important
    }
    .table-filter [class*=col]:first-child,
    .sort-customer, label.sort-by  {
         margin-bottom: 20px !important
    }
    .top-right-icons .navbar-nav {
        flex-direction: row;
    }
    .top-right-icons ul.dropdown-menu {
        position: absolute;
        margin: 10px 0 0 0; 
    }
    h1, .h1 {
        font-size: 35px; 
        line-height: 42px; 
    }
    h5, .h5 {
        font-size: 14px;
        font-weight: 400;
        line-height: 33px; 
    }
    .table-filter .invisible {
        display: none;
    }
    .content-tabs .nav {
        flex-wrap: nowrap;
    }
    .notification-dashboard {
        font-size: 13px;
    }
    .table-fm .form-group input[type="checkbox"]+label:before {
        left: 0px;
    }
    .login-page {
        padding: 2em 3em;
    }
    body {
        overflow-x: hidden;
    }
    .login-page h2 {
        font-size: 35px;
        text-align: center;
    }
    .login-page .card-body {
        padding: 35px;
    }
    .login-page .card-footer {
        padding: 25px 35px;
    }
    .login-page {
        align-items: center !important;

    }
    .login-page .col-lg-6:nth-child(2) {
        margin-top: -70px;
    }
    .box-header p {
        font-size: 18px !important;
        margin-bottom:15px !important;
    }
    .row.form-group [class*=col] {
        margin-bottom: 25px;
    }
     .row.form-group {
        margin-bottom: 0;
     }
    .selector-box [class*=col]:first-child {
        margin-bottom: 25px;
    }
    .expanded-row > .col-lg-3 {
        margin-top:3rem;
    }
}
@media screen and (max-width:767px) {
    .sub-header h4 {margin-bottom: 20px !important}
    .choices__item.choices__item--selectable {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 9999999ch !important;
    }
    .offerings-box [class*=col] {
        margin-bottom: 20px;
    }
    
    
    .table-filter {
        padding-left: 0;
        padding-right: 0;
    }
    .table-filter  > div {
        margin-bottom:25px;
        margin-right:0 !important;
    }
    .table-filter .choices {
        width: 100%;
    }
    .table-filter .btn {
        margin-left: 0 !important;
    }
}
@media screen and (max-width:575px) {
    .box-header .trash {
        position: absolute;
        right: 14px;
        top:20px;
    }
    .box-header .dots3 {
        position: absolute;
        right: 7px;
        top:20px;
    }
    .box-header a.icon.toggle-open {
        position: absolute;
        right: 60px;
        top:20px;
    }
    .box-header {
        padding-top:25px !important;
    }
    .expanded-dots3 { 
        top: 50px;
        right: 20px;
    }
    .form-button > div:last-child {
        margin-top:20px;
        padding-top:20px;
        border-top:1px solid var(--lgrey3);
    }
}
@media screen and (max-width:469px) {
    .box-header .d-flex.align-items-center {
        display: block !important;
    }
    .box-header .d-flex.align-items-center .btn:first-child{
        margin-bottom: 10px;
    }
}
